<link href="/js/katex/katex.min.css" rel="preload stylesheet" as="style" />
<script defer src="/js/katex/katex.min.js"></script>
<script
  defer
  src="/js/katex/contrib/auto-render.min.js"
  onload="renderMathInElement(document.body,
      {
        delimiters: [
          {left: '$$', right: '$$', display:true},
          {left: '$', right: '$', display:false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
        ]
      }
    );"
></script>
